{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}

<main role="main" class="container-fluid ml-sm-auto">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">
                    <!--<form class="form form-group" method="post" action="{% url 'add_analise' %}">-->
                    <form id="formAnalise" class="form form-group" method="POST" >
                        {% csrf_token %}
                        <h2 align="center" class="mb-3">Check List Veicular</h2>

                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label>Veículo:</label>
                                <div class="input-group">
                                    <select name="veiculo" class="custom-select" id="veiculo" required>
                                        {% for veiculo in veiculos %}
                                            <option value="{{veiculo.id}}">{{veiculo.placa}} - {{veiculo.modelo}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Período:</label>
                                <div class="input-group">
                                    <select name="periodo" class="custom-select" id="periodo" required>
                                        {% for periodo in periodos %}
                                            <option value="{{periodo.id}}">{{periodo.descricao}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label>Categoria:</label>
                                <div class="input-group">
                                    <select name="categoria" class="custom-select" id="selectCategoriaId" required>
                                        {% for categoria in categorias %}
                                            <option value="{{categoria.id}}">{{categoria.descricao}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3" id="teste">
                                <label>Item do Veículo:</label>
                                <div class="input-group">
                                    <select name="item" class="custom-select" id="selectItemId" required>
                                        {% for item in itens_veiculo %}
                                            <option value="{{item.descricao}}">{{item.descricao}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <label>Estado:</label>
                              <div class="input-group">
                                <select name="estado" class="custom-select" id="selectEstadoId" required>
                                    <option value="BOM">BOM</option>
                                    <option value="REGULAR">REGULAR</option>
                                    <option value="DANIFICADO">DANIFICADO</option>
                                    <option value="AUSENTE">AUSENTE</option>
                                </select>
                              </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="button" class="btn btn-success" value="Adicionar" onclick="adicionarItem()">
                        </div>
                        <div class="col-md-12 p-3 border rounded my-3">
                            <h5 align="center" class="text-dark">Itens analisados</h5>
                            <table id="tableItens" class="table table-striped table-sm">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Descricao</th>
                                  <th scope="col">Estado</th>
                                  <th scope="col">Ações</th>
                                </tr>
                              </thead>
                              <tbody id="bodyTableItensAnalisados" data-icon-acoes="{% static 'icons/icons8-black-26/icons8-trash-can-26.png' %}">

                              </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Relato:</label>
                                <div class="input-group">
                                    <textarea class="form-control"  id="relato" name="relato" placeholder="Descreva aqui alguma observação..." rows="3"></textarea>
                                </div>
                            </div>

                        </div>
                        <hr class="mb-4">
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Salvar">
                        </div>
                    </form>
                </div>
                <script type="text/javascript" src='{% static "assets/js/busway_formularios.js" %}'></script>
                <script src="{% static 'assets/js/jquery-2.2.4.min.js' %}"></script>

                <script>

                    $(document).on('submit', '#formAnalise', function(e){
                        e.preventDefault();
                        var myTable = document.getElementById("tableItens");
                        var tam = myTable.rows.length;
                        var itens = [];
                        for (var i = 1; i < tam; i++){
                            linha = myTable.rows[i];
                            colDesc = linha.childNodes[1].innerHTML;
                            colEstado = linha.childNodes[2].innerHTML;

                            item = {
                                descricao: colDesc,
                                estado: colEstado
                            }
                            itens.push(item);
                        }

                        $.ajax({
                            type: 'POST',
                            url:'{% url "add_analise" %}',
                            data: {
                                veiculo: $('#veiculo').val(),
                                periodo: $('#periodo').val(),
                                relato: $('#relato').val(),
                                itens: JSON.stringify(itens),
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                                action: 'post'
                            },
                            success:function(json){
                                location.reload();
                            },
                            error:function(xhr, errmsg,err){
                                alert('Algo deu errado, tente novamente!');
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</main>

{% endblock container %}