{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}

<main role="main" class="container-fluid ml-sm-auto">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h4 class="text-dark"><img src="{% static 'icons/icons8-black-26/icons8-grupo-de-perguntas-26.png' %}" class="pr-2">Consulta de Análises Veicular</h4>
                        <a href="{% url 'add_analise' %}" class="btn btn-outline-dark text-danger"><img src="{% static 'icons/icons8-black-26/icons8-plus-math-26.png' %}" class="pr-2">Nova</a>
                    </div>

                    <div class="col-md-12">

                        <form class="form form-group" method="post" action="{% url 'add_analise' %}">
                            {% csrf_token %}

                            <div class="row">
                                <label class="col-md-2">Período:</label>
                                <div class="col-md-4 mb-3">
                                  <div class="input-group">
                                    <input type="date" class="form-control" placeholder="DD/MM/YYYYY" id="campoData1" required name="periodoInicio">
                                    <div class="invalid-feedback" style="width:100%;">
                                        Por favor, entre com um nome válido.
                                    </div>
                                  </div>
                                </div>
                                <label class="col-md-1">a</label>
                                <div class="col-md-5 mb-3">
                                  <div class="input-group">
                                    <input type="date" class="form-control" placeholder="DD/MM/YYYYY" id="campoData2" required name="periodoFim">
                                    <div class="invalid-feedback" style="width:100%;">
                                        Por favor, entre com um sobrenome válido.
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div align="center">
                                <input type="button" class="btn btn-summary" value="Limpar">
                                <input type="submit" class="btn btn-primary" value="Buscar">
                            </div>
                        </form>
                    </div>


                    <div class="col-md-12 p-3">
                        <h5 align="center" class="text-dark">Análises Veiculares</h5>
                        <table class="table table-striped table-sm">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Primeiro</th>
                              <th scope="col">Último</th>
                              <th scope="col">Nickname</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td colspan="2">Larry the Bird</td>
                              <td>@twitter</td>
                            </tr>
                          </tbody>
                        </table>

<!--                        {% for veiculo in veiculos %}-->
<!--                            <div class="input-group pb-1">-->
<!--                                <label class="form-control">{{veiculo.modelo}} - {{ veiculo.placa }}</label>-->
<!--                                <div class="input-group-append">-->
<!--                                    <a href="{% url 'delete_veiculo' veiculo.id %}" class="btn btn-outline-dark" title="Excluir">-->
<!--                                        <img src="{% static 'icons/icons8-black-26/icons8-trash-can-26.png' %}" style="height: 20px;">-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        {% endfor %}-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock container %}