{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}

<main role="main" class="container-fluid ml-sm-auto">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h4 class="text-dark"><img src="{% static 'icons/icons8-black-26/icons8-shuttle-26.png' %}" class="pr-2">Períodos</h4>
                    </div>

                    <div class="col-md-12">

                        <form class="form form-group" method="post" action="{% url 'add_periodo' %}">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-md-12 mb-3">
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Descricao" id="descricao" required name="descricao">
                                    <div class="input-group-append">
                                        <input type="submit" class="btn btn-primary" value="Salvar">
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="col-md-12 p-3">
                        <h4 class="text-dark">Períodos Cadastradas</h4>
                        <table class="table table-hover table-sm">
                          <thead>
                            <tr>
                              <th scope="col-2">#</th>
                              <th scope="col-8">Descrição</th>
                              <th scope="col-2">Ações</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for periodo in periodos %}
                            <tr>
                              <th scope="row">{{periodo.id}}</th>
                              <td>{{periodo.descricao}}</td>
                              <td>
                                <a href="{% url 'delete_periodo' periodo.id %}" class="btn btn-outline-dark" title="Excluir">
                                    <img src="{% static 'icons/icons8-black-26/icons8-trash-can-26.png' %}" style="height: 20px;">
                                </a>
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock container %}