{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}
<main id="mainId" role="main" class="ml-sm-auto"  data-rota ="{{ address_list }}" data-icon="{% static 'images/icon_bus_100.png' %}">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h4 class="text-dark"><img src="{% static 'icons/icons8-black-26/icons8-place-marker-26.png' %}" class="pr-2"></i>Adicionar paradas</h4>
                    </div>

                    <div class="col-md-12 p-3">
                        <form class="form form-group" method="post" action="{% url 'add_paradas' rota.id %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label>Descrição:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-hard-to-find-26.png' %}" class="pr-2" style="height:20px;"></span>
                                    </div>
                                    <input disabled type="text" class="form-control" value="{{ rota.descricao }}">
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6 mb-3">
                                  <label>Hora de Inicio:</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-clock-26.png' %}" class="pr-2" style="height:20px;"></span>
                                    </div>
                                    <input disabled type="text" class="form-control" value="{{ rota.hora_inicio }}">
                                  </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                  <label>Duração média:</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-historical-26.png' %}" class="pr-2" style="height:20px;"></span>
                                    </div>
                                    <input disabled type="number" class="form-control" value="{{ rota.duracao_media }}">
                                  </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label>Paradas da rota:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-marker-26.png' %}" class="pr-2" style="height:20px;"></span>
                                    </div>
                                    <select multiple name="paradas" class="custom-select" id="selectParadas" required>
                                    </select>
                                    <input type="submit" class="ml-3 btn btn-primary text-white" value="Salvar">
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="card border-danger rounded-0 bg-white w-100">

                        <div id="mapSetParada"></div>

                        <script type="text/javascript" src='{% static "assets/js/busway_add_paradas.js" %}'></script>
                        <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8CMxmKVxteFM27Fs0qm7OKOa5oltNS74&callback=initMap">
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock container %}