{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}

<main role="main" class="container-fluid ml-sm-auto">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">
                    <form class="form form-group" method="post" action="{% url 'add_perfil' %}">
                        {% csrf_token %}
                        <h2 align="center" class="mb-3">Cadastro de Agentes</h2>

                        <div class="mb-3">
                            <label>Tipo de Agente</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-contact-details-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <select name="tipo_perfil" class="custom-select" id="tipo_perfil" required>
                                    <option value="ADMINISTRADOR">Administrador</option>
                                    <option value="ALUNO">Aluno</option>
                                    <option value="MOTORISTA">Motorista</option>
                                    <option value="FISCAL">Fiscal</option>
                                </select>

                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome de usuário válido.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                              <label>Nome</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-customer-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nome" id="first_name" required name="first_name">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome válido.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label>Sobrenome</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-customer-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input type="text" class="form-control" id="last_name" placeholder="Sobrenome" required name="last_name">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um sobrenome válido.
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                              <label>Usuário</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-email-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Usuário" id="username" required name="username">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome válido.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label>Email</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-secured-letter-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um sobrenome válido.
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                              <label>Senha</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-password-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Senha" id="password1" required name="password1">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome válido.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label>Confirmar Senha</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-password-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input type="password" class="form-control" id="password2" placeholder="Confirmar Senha" required name="password2">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um sobrenome válido.
                                </div>
                              </div>
                            </div>
                        </div>

                        <hr class="mb-4">
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Confirmar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock container %}