<!DOCTYPE html>
{% load i18n%}
{% load staticfiles %}
<html lang="en">
    <head>
        <title>Index Busway</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
        <script type="text/javascript" language="Javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script>
    </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top shadow" id="mainNav" style="opacity: 0.6;">
    <div class="container">
      <a class="navbar-brand text-white" href="{% url 'busway' %}">
        <img src="{% static 'images/logo_busway_v2.png' %}" style="height: 50px;">
        Busway
      </a>
      <button class="navbar-toggler navbar-toggler-right bg-danger" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'index' %}">Informações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'login' %}">Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead shadow" style=" background-image: url('{% static 'images/background_4.png' %}');">
    <div class="container">
      {% block section_header %}
      {% endblock %}
    </div>
  </header>

  <section class="page-section py-5" style=" background-image: url('{% static 'images/background_7.png' %}');" >
    <div class="container">
      {% block section_container %}
      {% endblock %}
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer" style=" background-image: url('{% static 'images/background_4.png' %}');">
    <div class="container">
          <span class="copyright text-white">Copyright &copy; Busway 2019</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>