<!DOCTYPE html>
{% load i18n%}
{% load staticfiles %}
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Busway</title>
        <link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
        <style>
          #mapa, #mapSetLocalizacao, #mapSetParada, #mapDetailRota, #mapLocalizacao{
            height:800px;
            width:100%;
          }
        </style>
        <!--<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>-->
    </head>

<!--    <body onload="initSubscribe()">-->
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-dark border-right" id="sidebar-wrapper">
              <div class="sidebar-heading bg-danger text-dark"></i>Menu</div>
              <div class="list-group list-group-flush">
                <a href="{% url 'busway' %}" class="list-group-item list-group-item-action bg-dark text-white"><img src="{% static 'icons/icons8-white-26/icons8-map-marker-26.png' %}" class="pr-2">Busway</a>
                <a href="{% url 'avisos' %}" class="list-group-item list-group-item-action bg-dark text-white"><img src="{% static 'icons/icons8-white-26/icons8-google-blog-search-26.png' %}" class="pr-2">Notícias</a>
                <a href="{% url 'rotas_ativas' %}" class="list-group-item list-group-item-action bg-dark text-white"><img src="{% static 'icons/icons8-white-26/icons8-hard-to-find-26.png' %}" class="pr-2">Rotas</a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white"><img src="{% static 'icons/icons8-white-26/icons8-notification-26.png' %}" class="pr-2">Notificações</a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white"><img src="{% static 'icons/icons8-white-26/icons8-info-26.png' %}" class="pr-2">Informações</a>
              </div>

              {% if perfil.tipo_perfil == 'ADMINISTRADOR' %}
                <div class="sidebar-heading bg-danger text-dark p-1"><img src="{% static 'icons/icons8-black-26/icons8-administrator-male-26.png' %}" class="pr-2">{{ perfil.tipo_perfil }}</div>
                <div class="list-group list-group-flush dropdown">
                    <!--<a href="{% url 'agentes' %}" class="list-group-item list-group-item-action bg-dark text-white"><img src="{% static 'icons/icons8-white-26/icons8-people-26.png' %}" class="pr-2">Agentes</a>-->
                    <!--<a href="{% url 'veiculos' %}" class="list-group-item list-group-item-action bg-dark text-white"><img src="{% static 'icons/icons8-white-26/icons8-shuttle-26.png' %}" class="pr-2">Veículos</a>-->
                    <!--<a href="{% url 'rotas' %}" class="list-group-item list-group-item-action bg-dark text-white"><img src="{% static 'icons/icons8-white-26/icons8-hard-to-find-26.png' %}" class="pr-2">Rotas</a>-->
                    <a href="{% url 'cadastros' %}" class="list-group-item list-group-item-action bg-dark text-white"><img src="{% static 'icons/icons8-white-26/icons8-bar-chart-26.png' %}" class="pr-2">Cadastros</a>
                    <a href="{% url 'consulta_analise' %}" class="list-group-item list-group-item-action bg-dark text-white"><img src="{% static 'icons/icons8-white-26/icons8-questionnaire-26.png' %}" class="pr-2">Formulários</a>
                </div>
              {% elif perfil.tipo_perfil == 'FISCAL' or perfil.tipo_perfil == 'MOTORISTA' %}
                <div class="list-group list-group-flush">
                    <a href="{% url 'consulta_analise' %}" class="list-group-item list-group-item-action bg-dark text-white"><img src="{% static 'icons/icons8-white-26/icons8-bar-chart-26.png' %}" class="pr-2">Formulários</a>
                </div>
              {% endif %}
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">

              <nav class="navbar navbar-expand-lg shadow-sm navbar-light bg-danger border-bottom">
                <h3><a id="menu-toggle"><img src="{% static 'icons/icons8-black-26/icons8-menu-26.png' %}"></a></h3>

                <a class="navbar-toggler border-0" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <img src="{% static 'icons/icons8-black-26/icons8-menu-2-24.png' %}">
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'icons/icons8-black-26/icons8-user-menu-male-26.png' %}">
                      </a>
                      <div class="dropdown-menu dropdown-menu-right bg-danger" aria-labelledby="navbarDropdown">
                        <p class="dropdown-header bg-light text-danger">@{{user}}</p>
                        <a class="dropdown-item text-dark" href="{% url 'detail_perfil' %}"><img src="{% static 'icons/icons8-black-26/icons8-registration-26.png' %}" class="pr-2">Perfil</a>
                        <a class="dropdown-item text-dark" href="{% url 'logout' %}"><img src="{% static 'icons/icons8-black-26/icons8-logout-rounded-left-26.png' %}" class="pr-2">Sair</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>

              <div class="container-fluid">
                {% block container %}
                {% endblock container %}
              </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
            <!-- /#wrapper -->
        <footer id="footer" class="mt-auto py-2 shadow bg-danger">
            <div align="center" class="container">
                <h6 align="center" class="mb-2 text-light">© Busway 2019. Todos os direitos reservados.</h6>
                <a class="text-white" target="_blank" href="https://icons8.com">Icons by Icons8</a>
            </div>
        </footer>
        <!--<script src="jquery/jquery.min.js"></script>-->
        <!--<script src="js/bootstrap.bundle.min.js"></script>-->
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
        </script>

    </body>
</html>
