{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}
<main role="main" class="ml-sm-auto">

    <div class="row">

        <div id="localizacao"></div>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-analytics.js"></script>

        <script>
          // Your web app's Firebase configuration
          var firebaseConfig = {
            apiKey: "AIzaSyAfcWX8SRkbRvipahKjsrB_wzJOZwAJobs",
            authDomain: "ifpibusway.firebaseapp.com",
            databaseURL: "https://ifpibusway.firebaseio.com",
            projectId: "ifpibusway",
            storageBucket: "ifpibusway.appspot.com",
            messagingSenderId: "806444883710",
            appId: "1:806444883710:web:37869bcb2a9f8124a10faf",
            measurementId: "G-NDT87NGEQG"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
          firebase.analytics();
        </script>
        <script type="text/javascript" src='{% static "assets/js/busway_localizacao.js" %}'></script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8CMxmKVxteFM27Fs0qm7OKOa5oltNS74&callback=initMap">
        </script>
        </div>
    </div>
</main>

{% endblock container %}