{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}

<main role="main" class="container-fluid ml-sm-auto">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h4 class="text-dark"><img src="{% static 'icons/icons8-black-26/icons8-people-26.png' %}" class="pr-2">Cadastros Gerenciais</h4>
                    </div>
                    <div class="list-group">
                        <a href="{% url 'agentes' %}"
                           class="mb-2 list-group-item list-group-item-action list-group-item-danger d-flex justify-content-between align-items-center">
                            Agentes
                            <span class="badge badge-dark badge-pill"><img src="{% static 'icons/icons8-white-26/icons8-people-26.png' %}" style="height: 20px;"></span>
                        </a>
                        <a href="{% url 'rotas' %}"
                           class="mb-2 list-group-item list-group-item-action list-group-item-danger d-flex justify-content-between align-items-center">
                            Rotas
                            <span class="badge badge-dark badge-pill"><img src="{% static 'icons/icons8-white-26/icons8-hard-to-find-26.png' %}" style="height: 20px;"></span>
                        </a>
                        <a href="{% url 'veiculos' %}"
                           class="mb-2 list-group-item list-group-item-action list-group-item-danger d-flex justify-content-between align-items-center">
                            Veículos
                            <span class="badge badge-dark badge-pill"><img src="{% static 'icons/icons8-white-26/icons8-shuttle-26.png' %}" style="height: 20px;"></span>
                        </a>
                        <a href="{% url 'categorias' %}"
                           class="mb-2 list-group-item list-group-item-action list-group-item-danger d-flex justify-content-between align-items-center">
                            Categorias de Itens
                            <span class="badge badge-dark badge-pill"><img src="{% static 'icons/icons8-white-26/icons8-people-26.png' %}" style="height: 20px;"></span>
                        </a>
                        <a href="{% url 'itens_veiculo' %}"
                           class="mb-2 list-group-item list-group-item-action list-group-item-danger d-flex justify-content-between align-items-center">
                            Itens de Veículo
                            <span class="badge badge-dark badge-pill"><img src="{% static 'icons/icons8-white-26/icons8-people-26.png' %}" style="height: 20px;"></span>
                        </a>
                        <a href="{% url 'periodos' %}"
                           class="mb-2 list-group-item list-group-item-action list-group-item-danger d-flex justify-content-between align-items-center">
                            Períodos
                            <span class="badge badge-dark badge-pill"><img src="{% static 'icons/icons8-white-26/icons8-people-26.png' %}" style="height: 20px;"></span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock container %}