{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}
<main role="main" class="ml-sm-auto">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h4 class="text-dark"><img src="{% static 'icons/icons8-black-26/icons8-hard-to-find-26.png' %}" class="pr-2" ></i>Cadastro de Rota</h4>
                    </div>

                    <div class="col-md-12">

                        <form class="form form-group" method="post" action="{% url 'add_rota' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                  <label>Hora de Inicio da rota:</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-clock-26.png' %}" style="height: 20px;"></span>
                                    </div>
                                    <input type="time" class="form-control" placeholder="Hora de início da rota" id="hora_inicio" required name="hora_inicio">
                                  </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                  <label>Duração média da rota:</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-historical-26.png' %}" style="height: 20px;"></span>
                                    </div>
                                    <input type="number" class="form-control" id="duracao_media" placeholder="(Em minutos)" required name="duracao_media">
                                  </div>
                                </div>
                            </div>
                            <div class="mb-3">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-hard-to-find-26.png' %}" style="height:20px;"></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Descrição da Rota" id="descricao" required name="descricao">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label>Pontos de localizaçoes da rota:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-marker-26.png' %}" style="height:20px;"></span>
                                    </div>
                                    <select multiple name="paradas" class="custom-select" id="selectLocalizacoes" required>
                                    </select>
                                    <input type="submit" class="ml-3 btn btn-primary" id="btn_salvar" value="Salvar">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card border-danger rounded-0 bg-white w-100">

                        <div id="mapSetLocalizacao"></div>
                        <script type="text/javascript" src='{% static "assets/js/busway_rotas.js" %}'></script>
                        <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8CMxmKVxteFM27Fs0qm7OKOa5oltNS74&callback=initMap">
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock container %}