{% extends "base_about.html" %}
{% load staticfiles %}

{% block section_header %}

<div class="row">
    <div class="col-lg-12 text-center py-5">
      <br>
    </div>
  </div>
<div class="row">
    <div class="col-lg-12 text-center">
      <img src="{% static 'images/logo_busway_v2.png' %}">
    </div>
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Cadastro de Usuário</h2>
      <h5 class="section-subheading pb-3">Preencha os campos abaixo para ter acesso ao sistema.</h5>
    </div>
</div>


{% endblock %}

{% block section_container %}

    <div class="row pt-0">
        <div class="col-md-6 offset-md-3">
          <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" id="username" type="text"  name="username" placeholder="Nome de Usuário" required="required" data-validation-required-message="Por favor informe um nome de usuário válido!">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="password1" type="password" name="password1" placeholder="Senha" required="required" data-validation-required-message="Por favor informe uma senha!">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="password2" type="password" name="password2" placeholder="Confirmar Senha" required="required" data-validation-required-message="Por favor informe a confirmação da senha!">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                    <button class="btn btn-danger text-uppercase" type="submit">Enviar</button>
                </div>
          </form>
        </div>
    </div>
{% endblock %}


<!--<div class="row">-->
<!--    <div class="col-md-6 offset-3 shadow bg-light">-->

<!--        <form class="form form-group" method="post">-->
<!--            {% csrf_token %}-->
<!--            <h2 align="center" class="my-3">Cadastro de Usuário</h2>-->

<!--            <div class="mb-3">-->
<!--                <label for="username">Nome de Usuário</label>-->
<!--                <div class="input-group">-->
<!--                    <div class="input-group-prepend">-->
<!--                        <span class="input-group-text"><i class="fas fa-at"></i></span>-->
<!--                    </div>-->
<!--                    <input type="text" class="form-control" id="username" placeholder="Nome de Usuário" required name="username">-->
<!--                    <div class="invalid-feedback" style="width:100%;">-->
<!--                        Por favor, entre com um nome de usuário válido.-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-6 mb-3">-->
<!--                  <label>Senha</label>-->
<!--                  <div class="input-group">-->
<!--                    <div class="input-group-prepend">-->
<!--                        <span class="input-group-text"><i class="fas fa-lock"></i></span>-->
<!--                    </div>-->
<!--                    <input type="password" class="form-control" placeholder="Senha" id="password1" required name="password1">-->
<!--                    <div class="invalid-feedback" style="width:100%;">-->
<!--                        Por favor, entre com um nome válido.-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 mb-3">-->
<!--                  <label>Confirmar Senha</label>-->
<!--                  <div class="input-group">-->
<!--                    <div class="input-group-prepend">-->
<!--                        <span class="input-group-text"><i class="fas fa-lock"></i></span>-->
<!--                    </div>-->
<!--                    <input type="password" class="form-control" id="password2" placeholder="Confirmar Senha" required name="password2">-->
<!--                    <div class="invalid-feedback" style="width:100%;">-->
<!--                        Por favor, entre com um sobrenome válido.-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <hr class="mb-4">-->
<!--            <div class="text-center">-->
<!--                <input type="submit" class="btn btn-primary" value="Confirmar">-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->