{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}

<main role="main" class="container-fluid ml-sm-auto">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h4 class="text-dark"><img src="{% static 'icons/icons8-black-26/icons8-user-menu-male-26.png' %}" class="pr-2" style="height:20px;"> Detalhe de Usuário</h4>
                        <a href="{% url 'edit_perfil' %}" class="btn btn-outline-danger text-dark"><i class="fas fa-edit"></i> Editar</a>
                    </div>

                    <form class="form form-group" method="post">
                        <div class="mb-3">
                            <label >Tipo de perfil</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-contact-details-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <select disabled name="tipo_perfil" class="custom-select" id="tipo_perfil" required>
                                    <option value="{{ perfil.tipo_perfil }}">{{perfil.tipo_perfil}}</option>
                                </select>

                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome de usuário válido.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                              <label>Nome</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-customer-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input value="{{perfil.usuario.first_name}}" disabled type="text" class="form-control" placeholder="Nome" id="first_name" required name="first_name">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome válido.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label>Sobrenome</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-customer-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input disabled value="{{perfil.usuario.last_name}}" type="text" class="form-control" id="last_name" placeholder="Sobrenome" required name="last_name">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um sobrenome válido.
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                              <label>Usuário</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-email-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input disabled value="{{perfil.usuario}}" type="text" class="form-control" placeholder="Usuário" id="username" required name="username">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome válido.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label>Email</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-secured-letter-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input disabled value="{{perfil.usuario.email}}" type="email" class="form-control" id="email" placeholder="Email" name="email">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um sobrenome válido.
                                </div>
                              </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock container %}