{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}

<main role="main" class="container-fluid ml-sm-auto">

    <div class="row p-3">

        <div class="col-md-6 offset-md-3">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body">
                    <form class="form form-group" method="post">
                        {% csrf_token %}
                        <h2 align="center" class="mb-3">Alterar Senha</h2>

                        <div class="mb-3">
                            <label>Senha Antiga</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-password-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input type="password" class="form-control" id="old_password" placeholder="Senha Antiga" required name="old_password">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome de usuário válido.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label>Nova Senha</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-password-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input type="password" class="form-control" id="new_password1" placeholder="Nova Senha" required name="new_password1">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome de usuário válido.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label>Confirmar Senha</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-password-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input type="password" class="form-control" id="new_password2" placeholder="Confirmar Senha" required name="new_password2">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome de usuário válido.
                                </div>
                            </div>
                        </div>

                        <hr class="mb-4">
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Alterar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock container %}
