{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}

<main role="main" class="container-fluid ml-sm-auto">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h4 class="text-dark"><i class="fas fa-id-card-alt"></i> Editar Perfil</h4>
                        <a href="{% url 'edit_senha' %}" class="btn btn-outline-danger text-dark"><i class="fas fa-edit"></i> Alterar Senha</a>
                    </div>

                    <form class="form form-group" method="post" action="{% url 'edit_perfil' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username">Tipo de Perfil</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-contact-details-26.png' %}" style="height: 20px;"></span>
                                </div>
                                {% if perfil.tipo_perfil == 'ADMINISTRADOR' %}
                                    <select name="tipo_perfil" class="custom-select" id="tipo_perfil" required>
                                        <option value="ADMINISTRADOR">Administrador</option>
                                        <option value="ALUNO">Aluno</option>
                                        <option value="MOTORISTA">Motorista</option>
                                        <option value="FISCAL">Fiscal</option>
                                    </select>
                                {% else %}
                                    <select disabled  name="tipo_perfil" class="custom-select" required>
                                        <option value="{{ perfil.tipo_perfil }}">{{ perfil.tipo_perfil }}</option>
                                    </select>
                                {% endif %}
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome de usuário válido.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                              <label>Nome</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-customer-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input value="{{perfil.usuario.first_name}}" type="text" class="form-control" placeholder="Nome" id="first_name" required name="first_name">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome válido.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label>Sobrenome</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-customer-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input value="{{perfil.usuario.last_name}}" type="text" class="form-control" id="last_name" placeholder="Sobrenome" required name="last_name">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um sobrenome válido.
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                              <label>Usuário</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-email-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input value="{{perfil.usuario.username}}" type="text" class="form-control" placeholder="Usuário" id="username" required name="username">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um nome válido.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label>Email</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-secured-letter-26.png' %}" style="height: 20px;"></span>
                                </div>
                                <input value="{{perfil.usuario.email}}" type="email" class="form-control" id="email" placeholder="Email" name="email">
                                <div class="invalid-feedback" style="width:100%;">
                                    Por favor, entre com um sobrenome válido.
                                </div>
                              </div>
                            </div>
                        </div>

                        <hr class="mb-4">
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Confirmar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock container %}