{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}

<main role="main" class="container-fluid ml-sm-auto">

    <div class="row p-3">

        {% if perfil.tipo_perfil != 'ALUNO' %}
        <div class="col-md-12">

            <form class="form form-group pb-3 " method="post" action="{% url 'add_aviso' %}">
                {% csrf_token %}
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2 mb-1">
                    <h4 class="text-dark"><img src="{% static 'icons/icons8-black-26/icons8-google-blog-search-26.png' %}" class="pr-2"> Novo Aviso</h4>
                    <input type="submit" class="btn btn-primary text-white" value="Salvar">
                </div>

                <div class="mb-3">
                    <div class="input-group">

                        <textarea class="form-control" placeholder="Título" rows="1" required name="titulo"></textarea>
                        <div class="invalid-feedback" style="width:100%;">
                            Por favor, entre com um nome de usuário válido.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <textarea class="form-control " placeholder="{{perfil.usuario.first_name}} escreva aqui seu aviso..." rows="3" required name="conteudo"></textarea>
                        <div class="invalid-feedback" style="width:100%;">
                            Por favor, entre com um nome de usuário válido.
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}


        <div class="col-md-12">

            {% for aviso in avisos %}
            <div class="card mb-3">
                <div class="card-header bg-danger">

                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ aviso.titulo }}</h4>
                    <blockquote class="blockquote mb-0">
                      <p>{{ aviso.conteudo }}</p>
                      <footer class="blockquote-footer">{{ aviso.datetime_publicacao.date }}, às {{ aviso.datetime_publicacao.hour }}
                          por <cite title="Título da fonte">{{ aviso.autor.usuario.first_name }} {{ aviso.autor.usuario.last_name }}
                              ({{ aviso.autor.tipo_perfil }} do departamento)</cite></footer>
                    </blockquote>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock container %}