{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}
<main id="objetosId" role="main" class="ml-sm-auto"  data-localizacoes ="{{ json_localizacoes_rota_list }}"
      data-icon="{% static 'images/icon_bus_100.png' %}" data-paradas = "{{ json_paradas_rota_list }}">

    <div class="row">

        <div class="card border-danger rounded-0 bg-white w-100">

            <div id="mapLocalizacao"></div>

            <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
            <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>

            <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

            <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8CMxmKVxteFM27Fs0qm7OKOa5oltNS74"></script>-->
            <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marker-animate-unobtrusive/0.2.8/vendor/markerAnimate.js"></script>-->
            <script type="text/javascript" src="https://raw.githubusercontent.com/combatwombat/marker-animate/master/markerAnimate.js"></script>
            <script type="text/javascript" src='{% static "assets/js/busway_localizacao.js" %}'></script>
            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8CMxmKVxteFM27Fs0qm7OKOa5oltNS74&callback=initMonitoramento">
            </script>

        </div>
    </div>
</main>

{% endblock container %}