{% extends "base_about.html" %}
{% load staticfiles %}

{% block section_header %}

<div class="row">
    <div class="col-lg-12 text-center py-5">
      <br>
    </div>
  </div>
<div class="row">
    <div class="col-lg-12 text-center">
      <img src="{% static 'images/logo_busway_v2.png' %}">
    </div>
    <h4 class="text-success py-5">Acompanhe localização, horários, paradas e rotas do ônibus escolar do IFPI zona Sul, direto do seu dispositivo.</h4>
    <div class="col-lg-12 text-center pb-5">
      <a class="btn btn-xl text-uppercase bg-danger text-white" href="{% url 'add_user' %}">Cadastre-se!</a>
    </div>
</div>
{% endblock %}

{% block section_container %}

    <div class="col-md-4 offset-md-4">
      <div class="text-center py-5">

      </div>
    </div>

{% endblock %}
