{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}

<main role="main" class="container-fluid ml-sm-auto">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h4 class="text-dark"><img src="{% static 'icons/icons8-black-26/icons8-people-26.png' %}" class="pr-2">Agentes Cadastrados</h4>
                        <a href="{% url 'add_perfil' %}" class="btn btn-outline-dark text-danger"><img src="{% static 'icons/icons8-black-26/icons8-plus-math-26.png' %}" class="pr-2">Novo</a>
                    </div>
                    {% for agente in agentes %}
                        <div class="col-12 p-0 mb-1" id="detalheAgenteAccordion{{ agente.id }}">
                            <div class="input-group">
                                <label class="form-control">{{ agente.usuario.first_name }} {{ agente.usuario.last_name }} - {{ agente.tipo_perfil }}</label>
                                <div class="input-group-append" id="agente{{ agente.id }}">
                                    <button type="button" class="btn btn-outline-dark" data-toggle="collapse"
                                        data-target="#areaDetalhe{{ agente.id }}" aria-expanded="false"
                                        aria-controls="areaDetalhe{{ agente.id }}" title="Detalhes">
                                        <img src="{% static 'icons/icons8-black-26/icons8-search-26.png' %}" class="pr-2" style="height: 20px;"></i>
                                    </button>
                                </div>
                            </div>

                            <div id="areaDetalhe{{ agente.id }}" class="collapse pb-2 pt-2"  data-parent="#detalheAgenteAccordion{{ agente.id }}">

                                <div class="card border-light shadow-sm rounded-0 bg-light">
                                    <div class="card-body text-muted">
                                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                            <h5 class="text-dark"><img src="{% static 'icons/icons8-black-26/icons8-user-menu-male-26.png' %}" class="pr-2">Detalhe de Usuário</h5>
                                            <h3><span class="badge badge-danger text-light">{{agente.tipo_perfil}}</span></h3>
                                        </div>
                                        <form class="form form-group" method="post">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                  <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-customer-26.png' %}" style="height:20px;"></span>
                                                    </div>
                                                    <input value="{{agente.usuario.first_name}}" disabled type="text" class="form-control" placeholder="Nome" id="first_name" required name="first_name">
                                                    <div class="invalid-feedback" style="width:100%;">
                                                        Por favor, entre com um nome válido.
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                  <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-customer-26.png' %}"style="height:20px;"></span>
                                                    </div>
                                                    <input disabled value="{{agente.usuario.last_name}}" type="text" class="form-control" id="last_name" placeholder="Sobrenome" required name="last_name">
                                                    <div class="invalid-feedback" style="width:100%;">
                                                        Por favor, entre com um sobrenome válido.
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                  <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-email-26.png' %}" style="height: 20px;"></span>
                                                    </div>
                                                    <input disabled value="@{{agente.usuario}}" type="text" class="form-control" placeholder="Usuário" id="username" required name="username">
                                                    <div class="invalid-feedback" style="width:100%;">
                                                        Por favor, entre com um nome válido.
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                  <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="{% static 'icons/icons8-black-26/icons8-secured-letter-26.png' %}" style="height: 20px;"></span>
                                                    </div>
                                                    <input disabled value="{{agente.usuario.email}}" type="email" class="form-control" id="email" placeholder="Email" name="email">
                                                    <div class="invalid-feedback" style="width:100%;">
                                                        Por favor, entre com um sobrenome válido.
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div align="center" class="mb-3">
                                            <a title="Excluir Agente" href="{% url 'delete_agente' agente.id %}" class="btn btn-danger text-dark"><img src="{% static 'icons/icons8-black-26/icons8-trash-can-26.png' %}" style="height: 20px;"> Excluir</a>
                                            <a title="Editar Agente" href="#" class="btn btn-primary text-dark"><img src="{% static 'icons/icons8-black-26/icons8-edit-26.png' %}" style="height: 20px;"> Editar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock container %}