{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}

<main role="main" class="container-fluid ml-sm-auto">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h4 class="text-dark"><img src="{% static 'icons/icons8-black-26/icons8-shuttle-26.png' %}" class="pr-2">Veículos</h4>
                    </div>


                    <div class="col-md-12">

                        <!--<div class="card border-light shadow-sm rounded-0 bg-light">-->
                            <!--<div class="card-body text-muted">-->
                                <form class="form form-group" method="post" action="{% url 'add_veiculo' %}">
                                    {% csrf_token %}

                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                          <div class="input-group">

                                            <input type="text" class="form-control" placeholder="Nome" id="modelo" required name="modelo">
                                            <div class="invalid-feedback" style="width:100%;">
                                                Por favor, entre com um nome válido.
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                          <div class="input-group">

                                            <input type="text" class="form-control" id="placa" placeholder="Placa" required name="placa">
                                            <div class="invalid-feedback" style="width:100%;">
                                                Por favor, entre com um sobrenome válido.
                                            </div>
                                          </div>
                                        </div>
                                    </div>

                                    <div align="right">
                                        <input type="submit" class="btn btn-primary" value="Salvar">
                                    </div>
                                </form>
                            <!--</div>-->
                        <!--</div>-->
                    </div>


                    <div class="col-md-12 p-3">
                        {% for veiculo in veiculos %}
                            <div class="input-group pb-1">
                                <label class="form-control">{{veiculo.modelo}} - {{ veiculo.placa }}</label>
                                <div class="input-group-append">
                                    <a href="{% url 'delete_veiculo' veiculo.id %}" class="btn btn-outline-dark" title="Excluir">
                                        <img src="{% static 'icons/icons8-black-26/icons8-trash-can-26.png' %}" style="height: 20px;">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock container %}