{% extends "base_about.html" %}
{% load staticfiles %}

{% block section_header %}

<div class="row">
    <div class="col-lg-12 text-center py-5">
      <br>
    </div>
  </div>
<div class="row">
    <div class="col-lg-12 text-center">
      <img src="{% static 'images/logo_busway_v2.png' %}">
    </div>
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Login</h2>
      <h5 class="section-subheading pb-3 text-muted">Preencha os campos abaixo para ter acesso ao sistema.</h5>
    </div>
</div>

{% endblock %}

{% block section_container %}

<div class="row pt-0">
    {% include 'mensagens.html' %}
    <div class="col-md-4 offset-md-4">
      <form method="post">
        {% csrf_token %}
            <div class="form-group">
                <input class="form-control" id="username" type="text"  name="username" placeholder="Nome de Usuário" required="required" data-validation-required-message="Por favor informe um nome de usuário válido!">
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <input class="form-control" id="password" type="password" name="password" placeholder="Senha" required="required" data-validation-required-message="Por favor informe uma senha!">
              <p class="help-block text-danger"></p>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
                <button class="btn btn-danger  text-uppercase" type="submit">Entrar</button>
            </div>
      </form>
    </div>
</div>

{% endblock %}
