{% if messages %}
    {% for message in messagens %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Messagem {{message.tags}}: </strong> {{message}}
        </div>
    {% endfor %}
{% endif %}