{% load staticfiles %}

<nav style="background-color: #fff" class="shadow p-1 col-md-2 border-right border d-none p-0 d-md-block sidebar">
    <div class="sidebar-sticky">
        <div align="center" class="p-1 border border-secondary">
            <img height="100" width="100" src="{% static 'images/user_default.png' %}" alt="foto-perfil"/>
        </div>
        <h6 class="mt-2 text-info">{{ perfil }}</h6>
        <p class="ml-2 small text-muted"><ion-icon name="pricetag"></ion-icon></i> {{ perfil.tipo_perfil }}</p>
        <ul class="nav flex-column">
            <li class="nav-item border bg-info">
                <a class="nav-link text-light" href="#"><i class="fas fa-home"></i> DataSAD</a>
            </li>
            <li class="nav-item border bg-info">
                <a class="nav-link text-light" href="#"><i class="fas fa-file-signature"></i> Questionários</a>
            </li>
            <li class="nav-item border bg-info">
                <a class="nav-link text-light" href="#"><i class="fas fa-scroll"></i> Relatórios</a>
            </li>
            <li class="nav-item border bg-info">
                <a class="nav-link text-light" href="#"><i class="fas fa-poll"></i> Análises</a>
            </li>
            <li class="nav-item border bg-info">
                <a class="nav-link text-light" href="#"><i class="fas fa-chart-bar"></i> Resultados</a>
            </li>
            <li class="nav-item border bg-info">
                <a class="nav-link text-light" href="#"><i class="fas fa-user-edit "></i> Perfil</a>
            </li>

        </ul>
        {% if perfil.tipo_perfil.id == 3 %}
        <ul class="nav flex-column">
            <li class="nav-item border bg-info">
                <a class="nav-link text-light" href="#"><i class="fas fa-cogs "></i> Gerencial</a>
            </li>
            <li class="nav-item border bg-info">
                <a class="nav-link text-light" href="#"><i class="fas fa-poll"></i> Permissões</a>
            </li>
            <li class="nav-item border bg-info">
                <a class="nav-link text-light" href="#"><i class="fas fa-chart-bar"></i> Cadastros</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
