{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}
<main id="objetosId" role="main" class="ml-sm-auto"  data-localizacoes ="{{ json_localizacoes_rota_list }}"
      data-icon="{% static 'images/icon_bus_100.png' %}" data-paradas = "{{ json_paradas_rota_list }}">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h4 class="text-dark"><img src="{% static 'icons/icons8-black-26/icons8-hard-to-find-26.png' %}" class="pr-2">{{ rota.descricao }}</h4>
                    </div>

                    <div class="card border-danger rounded-0 bg-white w-100">

                        <div id="mapDetailRota"></div>

                        <script type="text/javascript" src='{% static "assets/js/busway_detail_rota.js" %}'></script>
                        <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8CMxmKVxteFM27Fs0qm7OKOa5oltNS74&callback=initMap">
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock container %}