{% extends "base_main.html" %}
{% load staticfiles %}

{% block container %}

<main role="main" class="container-fluid ml-sm-auto">

    <div class="row p-3">

        <div class="col-md-12">

            <div class="card border-light shadow-sm rounded-0 bg-light">
                <div class="card-body text-muted">

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h4 class="text-dark"><img src="{% static 'icons/icons8-black-26/icons8-hard-to-find-26.png' %}" class="pr-2"> Rotas Ativas:</h4>
                    </div>

                    <div class="col-md-12 p-3">
                        {% for rota in rotas %}
                        <div class="input-group pb-1">
                            <label class="form-control">{{ rota.descricao }}</label>
                            <div class="input-group-append">
                                <a href="{% url 'detail_rota' rota.id %}" class="btn btn-outline-dark" title="Visualizar">
                                    <img src="{% static 'icons/icons8-black-26/icons8-search-26.png' %}" class="pr-2" style="height: 20px;">
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock container %}